{
	"presets": ["module:metro-react-native-babel-preset"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"extensions": [
					".ios.ts",
					".android.ts",
					".ts",
					".ios.tsx",
					".android.tsx",
					".jsx",
					".js",
					".json"
				],
				"alias": {
					"@app": "./src/app",
					"@screens": "./src/screens",
					"@stack": "./src/stack",
					"@redux": "./src/redux",
					"@common": "./src/common",
				}
			}
		]
	]
}
